@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Source+Sans+Pro:wght@300;400;600&display=swap');

/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /*padding: 3rem;*/
  /*margin: 3rem;*/
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #a7a7a2;
  font-size: 1.8rem;
  color: cornsilk;
}
.wrapper {
  /*background-color: #8c9184;*/
  background-color: #3a5134;
  margin: 5rem 12rem;
  box-shadow: 1px 2px 3px rgba(0,0,0,.4);
}

.header {
  /*background-color: #a7a7a2;*/
  background-color: #4f953b;
}

.main {
  /*background-color: #3a5134;*/
  margin: 0 auto;
  max-width: 70rem;
  padding: 4rem;

}

/*nav*/
.main-nav {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style: none;
}

a:link,
a:visited {
  color: cornsilk;
  text-decoration: none;
  transition: all .2s;
}

a:hover,
a:active {
  color: #8c9184;
}

ul li:first-child {
  margin-right: 5rem;
}

h1,h2,h3 {
  font-family: 'Playfair Display', serif;
}

/*form*/
form {
  /*width: 80%;*/
}
fieldset {
  border: none;
}

.form-group {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.form-group input {
  /*display: block;*/
  width: 60%;
  background-color: #8c9184;
  margin: 2rem 1rem 2rem 0;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
  color: cornsilk;
}



input.ng-invalid.ng-touched {
  border: 1px solid #da3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509d12;
}

.ng-invalid .btn {
  border: gray;
}

.error {
  color: red;
  padding-bottom: 1rem;
  margin-top: -1rem;
}

/*Button*/
.btn {
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 5px;
  /*margin-bottom: 1.2rem;*/
}